{{#unless isRemoving}}
  <td>
    <input size=50 value={{name}} onkeyup={{action (mut name) value='target.value'}} />
  </td>
  <td>
    {{pikaday-input size=10 value=startDate format='MM/DD/YYYY'}}
  </td>
  <td>
    {{pikaday-input size=10 value=endDate format='MM/DD/YYYY'}}
  </td>
  <td>
    <input size=4 value={{task.durationInDays}} onkeyup={{action 'changeDuration' value='target.value'}} /> days
  </td>
  <td>
    {{#if (gt task.durationInDays 0)}}
      <select onchange={{action (mut bandHexValue) value="target.value"}}>
        {{#each hexValueOptions as |code|}}
          <option selected={{eq code bandHexValue}} style={{{concat 'color: ' code}}} value={{code}}>{{code}}</option>
        {{/each}}
      </select>
    {{/if}}
  </td>
  <td>
    {{#if showSaveButton}}
      <button disabled={{if isSaving true}} {{action 'save'}} class='save'>
        {{#if isSaving}}
          {{fa-icon 'spinner' spin=true}}
        {{else}}
          {{fa-icon 'check'}}
        {{/if}}
      </button>
    {{/if}}
    <button {{action 'remove'}} class='remove'>{{fa-icon 'times'}}</button>
  </td>
{{/unless}}
